doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Mentor Toolbar
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    
    link(rel='stylesheet', href='css/main.css')

    link(rel='stylesheet', href='css/feedback.css')

    link(rel="stylesheet" type="text/css" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css")

    script(src='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')
  body
    .container-fluid.row
      .col-xs-12.col-sm-3.col-md-3.row
        .col-xs-6.col-sm-12
          .panel.panel-primary
            #headingOne.panel-heading(role='tab')
              h4.panel-title
                div(role='button') CoderDojo
            #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
              .panel-body
                #signOut.btn.btn-default.btn-block.input-sm.pull-right Sign Out
                span.pull-right
                  img#mentorAvatar(onerror='handleBadAvatar()', src='/users/signed_in/avatar', height='42', width='48')
                .pull-right.padding-rt
                  #nameField.text-right Mentor
                  #user_type.text-right
                    small Mentor
          #accordion.panel-group(role='tablist', aria-multiselectable='true')
            .panel.panel-primary
              #headingTwo.panel-heading(role='tab')
                h4.panel-title
                div.dropdown
                  a.collapsed.dropdown-toggle(role='button', aria-expanded='false', aria-controls='collapseTwo',, data-toggle='dropdown') Presentations
                    ul.dropdown-menu
                      li 
                        a#toBroadcast(href='../Broadcast',target='_blank') Starting Live Broadcasts
                      li
                        a#toVideoUpload(href='../Upload',target='_blank') Uploading Presentations
        // TODO rename chats
        #chats.col-xs-6.col-sm-12
          #chat_content.panel.panel-primary
            #headingThree.panel-heading(role='tab')
              h4.panel-title(style='width:350px')
                a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree') Chats
            #collapseThree.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingThree')
              #chatPanel.panel-body
                // First phase: choose ninja from queue
                #firstPhase
                  .row
                    .col-xs-12.pull-left
                      span.pull-left.glyphicon.glyphicon-comment(style='color:grey;font-size:2.5em;padding-right:10px')
                      small#firstPhaseText 
                  #helpQueue
                  //  small(style='padding-top:30px') To chat with a ninja click on chat button
                    .checkbox
                      label
                        input(type='checkbox')
                        small
                          img(src='', height='42', width='42')
                    .checkbox
                      label
                        input(type='checkbox')
                        small
                          img(src='', height='42', width='42')
                    a.btn.btn-default.btn-block.input-sm Chat
                // Second phase : chat Window
                .secondPhase
                  div
                    | My Face:
                    #localCamBox.video-box
                    .pull-left.padding-lt
                      | My Volume: 
                      meter#myVolume.volume(height='20px', width='100%', min='-45', max='-20', high='-25', low='-40') My Volume bar
                  br
                  #box
                    #screenBox2
                      span.pull-left
                        img(src='/img/ninja.png', height='31', width='45')
                      .pull-left.padding-lt
                        #ninjaName.text-left Paul
                        meter#ninjaVolume(height='20px', width='100%', min='-45', max='-20', high='-25', low='-40')
      .col-xs-12.col-sm-9.col-md-9
        // Second phase: screenshare
        #sharedScreen.panel-primary.secondPhase
          #headingFour.panel-heading(role='tab')
            h4.panel-title
              div(role='button') Ninja screen
          #iconPosReference
            #screenBox.video-box.panel-primary
            img#handler-dark.point-icon.handler(src='/img/h-dark.png')

          div#Mentor-feedback-options.feedback-options.panel-heading  
            div#ButtonZone
                button#takescreenShot.btn.btn-default.btn-block.input-sm.pull-right(type='button' onclick='screenshot()' value='Take screenshot') Take a screenshot
            //- TODO rename
            div#icon-color-div
                input#handler-option1.icon-btn(type='checkbox', name='icon')
                small Enable Arrow
            .videoControls
              button#screenFull.btn.btn-default(type='button')
                span.ico.glyphicon.glyphicon-fullscreen
              span.ico.glyphicon.glyphicon-volume-up
              span.ico.glyphicon.glyphicon-cog
            div.clear
          // Chat overlay
          div.overlay
            div#chatOverlay
              #chatWindow
              form#chatForm(action='')
                input#message
                button#submit.btn.btn-default(type='button')
                  span.ico.glyphicon.glyphicon-ok
                button#logBtn.btn.btn-default.boolBtn(type='button')
                  span#logIcon.ico.glyphicon.glyphicon-chevron-div
            #recentChat
            button#ovrBtn.btn.btn-default.boolBtn(type='button')
              span.ico.glyphicon.glyphicon-comment
        
    // /container
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='js/vendor/bootstrap.min.js')
    // script(src='//simplewebrtc.com/latest.js')
    script(src='js/latest.js')
    
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.pack.min.js")
    
    script(src='/socket.io/socket.io.js')
    script(src='js/miscHelpers.js')
    script(src='js/dojo_rtc.js')
    script(src='js/Screenshot.js')
    script(src='js/trackMouse.js')

    script(src='js/Drawing.js')
    script(src='js/feedback.js')
    //- TODO remove or rename justfortest
    script(src='js/justfortest.js')

    script(src='js/notification.js')
    script(src='js/mentor.js')
    script(src='js/chat.js')
