<!doctype html>
<html>

<head>
    <title>Hello</title>
</head>

<body>
    <h1>Test for screenshot</h1>
     
     <video id="ninjaScreen" width="500" height="281"controls="controls">
         <source src="/Users/jasminelei/Documents/CITS5551/Dev/1.mp4" type="video/mp4">
     </video>
     <button id="takescreenShot" onclick="Screenshot()"> take</button>
     <button id="sendScreenshot" onclick="sendScreenshot()"> send</button>
     
    <script type="text/javascript" src='../public/js/Screenshot.js'></script>
    <script type="text/javascript" src='../public/js/sendScreenshot.js'></script>
    <script type="text/javascript" src='../public/js/Drawing.js'></script>
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
</body>
    
</html>