#login-div 			{margin: 0 auto;background-color:#FFCC66;margin-top: 10%;width: 500px;padding:10px;border-radius: 5px;}	
.float-left 		{float:left;}
.float-right		{float: right;}
.clear				{clear: both;}
.input-elements		{width:300px !important;padding:5px;text-align:center;}
.option-element		{width: 284px !important;padding:5px;text-align:center;} 
.form-element		{padding:3px;}
select 				{text-align:center;}
label 				{padding: 5px}
#register_submit 	{width:45%;padding:5px;}
#register_reset 	{width:45%;padding:5px;}
.padding-rt {padding-right:4px;}
.margin-rt-10 {margin-right:10px;}
.padding-lt {padding-left:4px;}
.padding-lt-20 {padding-left: 20px;}
.panel,.panel-primary,.panel-heading{border-radius: 0px;border:none;}
.padding-10			{padding:10px;}
span.glyphicon-menu-down,
span.glyphicon-home, { font-size: 2.7em;padding:4px;}
.btn 				{border-radius: 0}
input[type='text'],
input[type='date'],
input[type='email'],
input[type='password'],
input[type='file']	{border-radius: 0}

#chats{z-index:-1} /* In firefox the chats panel will overlap with the signout button, blocking it; hence the z-index must be set. */

/*NEW CODE ADDED*/

@media screen and (min-width: 700px) { 
	#chats{
        position:absolute;
        width:75%;
        top:50px;
        right:10px;
        z-index: 1;
    }
    
    #screenBox{
        position:relative;
    }
    

    #chat_content{
            max-width: 45%;
            margin-right: 0;
            margin-left:0;
            float: right;
    }
    .col-md-3{
        max-width:20%;
        float:left;
    }
	#sharedScreen {
        position:absolute; 
        min-height:3em;
        top:-0.5%; 
        width:300%; 
        right:110%;
        overflow:visible;
        
    }
   
    #localScreenBox{
        position:relative;
    }
        
    #collapseTwo .panel-body{
        height:auto;
    }
   
        
    #screenBox div{
        overflow:visible;
    }
    #ButtonZone{
        display:block;
        z-index: 1;
    }
    
    #chatWindow{
        margin-top:70px;
    }

@media (max-width: 999px) { 
	#chats{position:absolute;top:50px;right:10px;}
	#sharedScreen {position:absolute;top:0; width:190%;height:auto;right:105%;}
     @media screen and (max-width: 765px) { 
        #sharedScreen {
            width:100%;
        }
        .col-md-3 {
            max-width:30%;
        }
         
    }
}

    .row{
        max-width:100%;
    }
    .accordion{
        max-width:100%;
    }
    .accordion .row{
        max-width:100%;
    }
    
    #myCanvas{
        display:block;  
    }
    #canvasBtnZone{
        position: absolute;
        top: 0;
        left: 0%;
        z-index: 2;
        display: block;
        border: solid #844 8px;
        background-color: #844;
       
    }
    
    .canvas_btn{
                background-color: #337ab7;
                color: white;
                margin: 0.5em;
        }
    #draw-area{
        width:100%;
        height:100%;
        background-color: transparent;
    }

}

@media screen and (min-width: 1111px){
        div.text-center .glyphicon{
        font-size: 10em ;
        margin-top:15%;
    }
   }

@media screen and (min-width:769px) and (max-width: 1110px){
        div.text-center .glyphicon{
        font-size: 7em ;
        margin-top:25%;
    }
   }

.video-box {
    width:100%;
	border:solid 1px lightgrey;
}

video {
	width: 100%;
}


@media screen and (max-width: 768px){
    div.text-center .glyphicon{
        font-size:15em;
    }
 }
 
div.text-center .glyphicon{
        color:lightgrey;
    }
    
#clearCanvas, #closeCanvas{
    display:inline-block;
}

#chatSecondPhase{
    display:none;
}
#chatThirdPhase{
    display:none;
}

#firstPhase{
    display:none;
}

#secondPhase{
    display:none;
}

#collapseTwo{
        display: none;
    }
#chatSecondPhase #localCamBox{
     display:none;
 }

.point-icon{
    display:none;
    position:absolute;    
    z-index: 100;
    margin-top:1em;
}



div.feedback-options{
    display:none;
}
div#icon-color-div{
    display:inline-block;
}
#icon-color-div small{
    margin-left:0.6em;
    margin-right:0.6em;
}
div#ButtonZone{
    display:inline-block;
    float:right;
}
div.clear{
    clear:both;
    height:0;
}

#takescreenShot{
    width:10em;
}

.resizebtn{
    color:black;
    font-size:11px;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
#headingFour{
    height:100%;
    width:100%;
    margin-bottom:1em;
}

