#login-div 			{margin: 0 auto;background-color:#FFCC66;margin-top: 10%;width: 500px;padding:10px;border-radius: 5px;}	
.float-left 		{float:left;}
.float-right		{float: right;}
.clear				{clear: both;}
.input-elements		{width:300px !important;padding:5px;text-align:center;}
.option-element		{width: 284px !important;padding:5px;text-align:center;} 
.form-element		{padding:3px;}
select 				{text-align:center;}
label 				{padding: 5px}
#register_submit 	{width:45%;padding:5px;}
#register_reset 	{width:45%;padding:5px;}
.padding-rt {padding-right:4px;}
.margin-rt-10 {margin-right:10px;}
.padding-lt {padding-left:4px;}
.padding-lt-20 {padding-left: 20px;}
.panel,.panel-primary,.panel-heading{border-radius: 0px;border:none;}
.padding-10			{padding:10px;}
span.glyphicon-menu-down,
span.glyphicon-home, { font-size: 2.7em;padding:4px;}
.btn 				{border-radius: 0}
input[type='text'],
input[type='date'],
input[type='email'],
input[type='password'],
input[type='file']	{border-radius: 0}

#chats{z-index:-1} /* In firefox the chats panel will overlap with the signout button, blocking it; hence the z-index must be set. */

/*NEW CODE ADDED*/
@media screen and (min-width: 769px) { 
	#chats{
        position:absolute;
        width:75%;
        top:50px;
        right:10px;
        z-index: 1;
    }
    #chat_content{
            max-width: 45%;
            margin-right: 0;
            margin-left:0;
            float: right;
    }
    .col-md-3{
        max-width:20%;
        float:left;
    }
	#screenBox {
        position:absolute; 
        top:-12px; 
        width:300%; 
        height:100%;
        right:100%;
        overflow:visible;
    }
        
    #collapseTwo .panel-body{
        height:auto;
    }
    

        
    #screenBox div{
        overflow:visible;
    }
    #ButtonZone{
        position: absolute;
        bottom:-4em;
        display:block;
        margin-top:2em;
        margin-bottom:2em;
        z-index: 1;
    }

    #chatWindow{
        margin-top:70px;
    }
    .row{
        max-width:100%;
    }
    .accordion{
        max-width:100%;
    }
    .accordion .row{
        max-width:100%;
    }
    
    #myCanvas{
        display:block;  
    }
    #canvasZone{
        position:absolute;
        top:20vh;
        left:-30%;
        z-index:2;
        display:block;
    }
    

}

@media screen and (min-width: 1111px){
        div.text-center .glyphicon{
        font-size: 10em ;
        margin-top:15%;
    }
   }

@media screen and (min-width:769px) and (max-width: 1110px){
        div.text-center .glyphicon{
        font-size: 7em ;
        margin-top:25%;
    }
   }

.video-box {
	height:200px;
	border:solid 1px lightgrey;
}

video {

	max-width: 100%;
}


@media screen and (max-width: 768px){
    div.text-center .glyphicon{
        font-size:15em;
    }
 }
 
div.text-center .glyphicon{
        color:lightgrey;
    }
    
#clearCanvas, #closeCanvas{
    display:inline-block;
}

#handler{
    width:100px;
    position:absolute;
    top:20px;
    left:100px;
    z-index: 100;
}

#follower{
    width:100px;
    position:absolute;
    top:20px;
    left:100px;
    z-index: 100;
}