#login-div 			{margin: 0 auto;background-color:#FFCC66;margin-top: 10%;width: 500px;padding:10px;border-radius: 5px;}	
.float-left 		{float:left;}
.float-right		{float: right;}
.clear				{clear: both;}
.input-elements		{width:300px !important;padding:5px;text-align:center;}
.option-element		{width: 284px !important;padding:5px;text-align:center;} 
.form-element		{padding:3px;}
select 				{text-align:center;}
label 				{padding: 5px}
#register_submit 	{width:45%;padding:5px;}
#register_reset 	{width:45%;padding:5px;}
.padding-rt {padding-right:4px;}
.margin-rt-10 {margin-right:10px;}
.padding-lt {padding-left:4px;}
.padding-lt-20 {padding-left: 20px;}
.panel,.panel-primary,.panel-heading{border-radius: 0px;border:none;}
.padding-10			{padding:10px;}
span.glyphicon-menu-down,
span.glyphicon-home, { font-size: 2.7em;padding:4px;}
.btn 				{border-radius: 0;}
input[type='text'],
input[type='date'],
input[type='email'],
input[type='password'],
input[type='file']	{border-radius: 0}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* TODO move to a 'bootstrap overwrite' css file */
.container, .row{
    margin:0px;
    padding:0px;
}

#chats{z-index:-1} /* In firefox the chats panel will overlap with the signout button, blocking it; hence the z-index must be set. */

#chats{
    z-index: 1;
}
#screenBox, #localScreenBox{
    position:relative;
}
#chat_content{
        margin-right:0;
        margin-left:0;
}
#collapseTwo .panel-body{
    height:auto;
}
#screenBox div{
    overflow:visible;
}
#ButtonZone, .videoControls{
    display:inline-block;
    z-index: 1;
}
#chatWindow{
    margin-top:70px;
}
.accordion, .row{
    max-width:100%;
}
#myCanvas{
    display:block;
    max-width: 100%;
    max-height: 100%;
}
/*Created in Screenshot.js*/
#CanvasZone {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
}
#canvasBtnZone{
    display: block;
    width: 100%;
    background-color: #844;
} 
.canvas_btn{
    background-color: #337ab7;
    color: white;
    margin: 0.5em;
}
#draw-area{
    width:100vw;
    height:100vh;
    background-color: transparent;
}
#sharedScreen {
    overflow: visible;
}

/* Set the size of videos to fit within their container while scaling with window height */
.video-box {
    width:100%;
}
video {
    max-width:100%;
    border:solid 1px lightgrey;
}
/* Mentor's videos */
#localCamBox video, #localCamBox .video-box {
    max-height: 20vh;
}
#screenBox video, #screenBox .video-box, #canvasZone {
    max-height: 80vh;
}
/* If @screen-sm-min or larger, allow cambox to fill full width */
@media screen and (min-width: 768px) {
    #localCamBox video, #localCamBox .video-box {
        max-height: 100vh;
    }
}
/* Ninja's videos */
/* TODO idea is to allow a ninja to see his own shared screen 
in full size if the window is large enough, but to otherwise 
cap it such that the ninja can see all elements */
#remoteCamBox video, #remoteCamBox .video-box {
    max-height: 50vh;
}
#localScreenBox video, #localScreenBox .video-box {
    max-height: 90vh;
}
/* ideally, "if window is under half the screen" */
@media screen and (max-width: 900px) {
    #remoteCamBox video, #remoteCamBox .video-box {
        max-height: 30vh;
    }
    #localScreenBox video, #localScreenBox .video-box {
        max-height: 60vh;
    }
} 


div.text-center .glyphicon{
    color:lightgrey;
}
    
/* TODO redundant? */
#clearCanvas, #closeCanvas{
    display:inline-block;
}

#chatSecondPhase, #chatThirdPhase, #firstPhase, .secondPhase, #collapseTwo, #chatSecondPhase, .point-icon, div.feedback-options{
     display:none;
}

#iconPosReference {
    position:relative;
    height:auto;
}

.point-icon{
    position:absolute;
    top:100%;
    left:-1em;
    z-index: 100;
}
div#icon-color-div{
    display:inline-block;
    /* TODO may be worth putting this button above the arrow 
    and making disabling/reenabling the arrow reset its position*/
    /*z-index: 101;*/
}
#icon-color-div small{
    margin-left:0.6em;
    margin-right:0.6em;
}
div#ButtonZone{
    display:inline-block;
    float:right;
}
div.clear{
    clear:both;
    height:0;
}

#takescreenShot{
    width:10em;
}

.resizebtn{
    color:black;
    font-size:11px;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
#headingFour{
    height:100%;
    width:100%;
    margin-bottom:1em;
}
.overlay {
    z-index: 2;
}
#chatOverlay{
    position:fixed;
    height:0vh;
    width:60vw;
    bottom:1vh;
    left:20vw;
    overflow: hidden;
    background-color: rgba(200,200,200,0.5);
    transition:0.5s;
}
#chatWindow{
    position:absolute;
    top:0px;
    left:0px;
    height:150px; 
    width:100%;
    margin-top:0px; 
    border:solid 1px lightgrey;
    overflow-y: scroll;
}
#chatForm{
    position:absolute;
    bottom:0vh;
    left:0vw;
}
#message{
    width:auto;
}
#ovrBtn{
    position:fixed;
    bottom:1vh;
    right:20vw;
}
